<h1>Exercise 3</h1>

<h4>User management</h4>

<div>
  <a class="btn blue darken-4" href="#/addUser">Add user</a>
</div>

<div ng-if="!ctrl.userList.length">
  <div class="progress">
    <div class="indeterminate blue darken-4"></div>
  </div>
</div>

<table ng-if="ctrl.userList.length">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="row in ctrl.userList">
      <td ng-bind="row.name"></td>
      <td ng-bind="row.email"></td>
      <td ng-bind="row.phone"></td>
    </tr>
  </tbody>
</table>
